modules = ["python-3.11"]
[nix]
packages = ["unzipNLS"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 45385389
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
